.bg-anahuac-mate{
    background-color: #6b3f23;
}
.bg-anahuac{
    background-color: #ff9a2f;
}
.bg-inverse {
    color: #fff;
}
.bg-animated{
    background: gray url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0;
    width: 100%;
    margin: 0;
    height: 300px;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
}
#full-screen{
    width: 100%;
    min-height: 100%;
    overflow: auto;
}
.full-height {
    height: 100vh;
}
.position-ref {
    position: relative;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}
.wrapper_center {
    text-align: center;
}

.button_center {
    position: absolute;
    top: 50%;
}