#block_container
{
    text-align:center;
}
#bloc1, #bloc2, #bloc3
{
    display:inline;
}
.formLabel{
    clear: both;
    display: block;
    float: left;
    line-height: 32px;
    margin: 0 15px 0 0;
    text-align: right;
    padding:0 25px 0 0;
    font-weight: normal;
}
